{{>header}}
<div class="main-content">
    <img class="portrait" src="/img/me.jpg">
    <p class="side__about--text">This websites uses darksky weather api to fetch weather condition of places. To get
        longitude and latitude of place mapbox is used. HTML, CSS and Javascript are used for frontend and hbs is used
        for
        rendering dynamic contents. nodeJS is used for backend.</p>
</div>
{{>footer}}