{{>header}}
<div class="main-content">
    <p>Type your location in the search Box if you don't get your exact location which you are looking for then specify
        the location more clearlily. </p>
</div>
{{>footer}}