{{>header}}
<div class="content">
    <p>Use this site to get your weather!</p>
    <form action="/weather" method="post">
        <input type="text" id="location" name="location" class="input-location" placeholder="Enter the Location">
        <input type="submit" value="search" class="btn bg-color">
    </form>
</div>
<div class="main-content">
    <p id="message-1"></p>
    <p id="message-2"></p>
</div>
<script>
    function activatePlacesSearch() {
        let input = document.getElementById("location");
        let autocomplete = new google.maps.places.Autocomplete(input);
    }
</script>
<script type="text/javascript"
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAgY52iScKYCAMMPrcBUhcYJQ1ozM4KUsM&libraries=places&callback=activatePlacesSearch"></script>

{{>footer}}