<footer class="center-align clearfix">
    <p style="color: #fff">Created by {{name}}</p>
</footer>
</div>
</div>

</div>
<!-- /container -->
<script src="/js/app.js"></script>
<script src="js/index.min.js"></script>
</body>

</html>